html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.image3 {
  height: 350px;
  width: 400px
  style: center;
}

.image5 {
  height: 600px;
  width: 400px
  style: center;
}

#flex-container{
  display:flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.white {
  color: #FFF;
}
.col-1 {
  width: 8.33%;
  text-align: center;
  background-color: #728DA5;
  font-family: 'Slabo 27px', serif;
}
.col-1-2 {
  width: 8.33%;
  text-align: center;
  background-color: #4A6B8A;
  font-family: 'IBM Plex Mono', monospace;
}
.col-1-3 {
  width: 8.33%;
  text-align: center;
  background-color: #133453;
  font-family: 'Titan One', cursive;
}
.col-2 {
  width: 16.66%;
  background-color: #041F37;
  font-family: 'IBM Plex Mono', monospace;
}
.col-2-2 {
  width: 16.66%;
  background-color: #728DA5;
  font-family: 'IBM Plex Mono', monospace;
}
.col-4 {
  width: 33.33%;
  background-color: #4A6B8A;
  font-family: 'Slabo 27px', serif;
}
