html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.image3 {
  height: 350px;
  width: 400px
}

.image5 {
  height: 600px;
  width: 400px
}

#flex-container{
  display:flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.col-2 {
  width: 16.66%;
  background-color: #3BF21E;
}
.col-2-1 {
  width: 16.66%;
  background-color: #45D62E;
}
.col-2-2 {
  width: 16.66%;
  background-color: #131C12;
  color: #FFF;
}
.col-3 {
  width: 25.1%;
  background-color: #2D4C28;
  color: #FFF;
}
.col-3-1 {
  width: 25.1%;
  background-color: #3BF21E;
}
